<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<!--Base template; includes style sheet and placeholder blocks; deliberately excludes body tag so we can insert background image. -->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link href="media/style.css" type="text/css" rel="stylesheet">
  </head>

         {% block content_main %}   {% endblock %}
         {% block content_left %}   {% endblock %}
         {% block content_top %}    {% endblock %}
         {% block content_bottom %} {% endblock %}
         {% block footer %}         {% endblock %}

</html>
