<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;
charset=iso-8859-1" />
  <link href="media/style.css" type="text/css" rel="stylesheet">
  </head>

<!-- pull in the header, css, etc. from base.html; then do a background fill; then add the content -->
<body  background="/media/dark-green.jpg">

	<table class="search-term-table"> <!--main container table-->
		<form action="../uploadSites/{{searchid}}" method="POST"> <!--form for uploading urls-->
				<tr>
					<td>
						You can upload URLs by pasting them below. 
								<input type="submit"  name = "thisAction" value ="update" /> 
								&nbsp;
								<input type="submit"  name = "thisAction" value ="return" /> 							
				    </td>
				</tr>
						<table style "overflow: auto; ">  <!-- inner (scrollable) table -->
								<tr>
										<td> 
											  <textarea rows="25" cols="100" name="urls"> </textarea>
										</td>								
								
								</tr>
					
						
						</table>
	  

	 </tr>	  
	  <tr>
		
		<td> <!--data element for search criteria-->
				
				<table class="search-table">  <!--table for search criteria (elements:  ? image, label, input)-->
											
				
				</table>  <!--end of status-->
				
				
		</td> <!--end of data element for search criteria-->
		
		
		<td> <!--data element separating search specs and criteria-->
		</td> <!--end of data element separating search specs and criteria-->
		
		
		
		<td> <!--data element for screening criteria-->
	
		</td> <!--end of data element for search criteria-->		

	  <tr>				
	  </form>  <!-- end of the input form-->
<table> <!--  end of main container table-->

</body>
