<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
  </head>   
    <body  background="/media/dark-green.jpg">
		<!-- header table -->
		QA
		action:  {{action}}
		searchid:  {{searchid}}
		warned:  {{alreadyWarned}}
		{{action}}
		/QA
		<table>		
			<tr>
				<td>
					<img src="/media/firefly.jpg" height="60px" width="60px"></img>
				</td>
				<td class="nav-header">
					{{message}}
				</td>
			</tr>	
			<tr><td>&nbsp;</td> </tr>
			
				<form method="POST" action=''>	
					<!-- hiddin inputs here-->	
						<input type='hidden' name='thisAction' value={{action}}  >
						<input type='hidden' name='searchid' value = {{searchid}} >	
						<input type='hidden' name='alreadyWarned' value = {{alreadyWarned}} >
						<input type='hidden' name='criteriaid' value = {{criteriaid}} >
					<tr>		
						<td></td>
						<td>		
							<input type="submit"  name = "OK" value ="OK" >
						 &nbsp; 						
							<input type="submit"  name = "Cancel" value ="Cancel"  >												
						</td>	
					</tr>
					</form>					
		</table>